
 @import url('http://fonts.cdnfonts.com/css/ds-digital');
                


body{
  background-color: rgb(15, 12, 18);
  
}

.MyDiv{
    
  display: flexbox;
  text-shadow: 30px;
  text-align: center;
  margin-top: 200px;
  font-family: 'DS-Digital', sans-serif;
  font-size: xx-large;
  color: rgb(68, 186, 68);
  margin-bottom: 40px;

}
/* 
h1{

  font-size:50px ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: beige;
  font-weight: bolder;
  text-align: center;
  margin-top: 80px;
  
} */


button{
   width: 200px;
   height: 40px;
  background-color: bisque;
  color:rgb(210, 36, 30);
  font-size: medium;
  font-weight: bold; 
  border-radius: 5px;
  text-transform: capitalize;
  text-shadow:4px ;
  
  }